.Dictionary section {
  background-color: var(--elements-bg-color);
  border-radius: 6px;
  box-shadow: 0px 7px 10px rgb(0 0 0 / 30%);
  margin: 15px auto;
  max-width: 960px;
  padding: 30px;
}

.Dictionary input {
  display: block;
  width: 70%;
  margin: 0 auto;
  border: 2px solid var(--links-color);
  border-radius: 4px;
}

.Dictionary .hint {
  text-align: center;
  color: var(--text-color);
  opacity: 50%;
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
}
