:root {
  --main-bg-color: #f1f1f1;
  --elements-bg-color: #e2dcc8;
  --links-color: #196467;
  --text-color: #100f0f;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  /* background-color: var(--main-bg-color); */
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
}
